*{
    background-color: #383838;
}

#sketch{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.guide{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 80%;
    font-family: Quicksand; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 100; 
    line-height: 28px;
    text-align: center;
    color: #e1e1ff;
}